html, body {
    height:100%;
}
a {
    text-decoration: none !important;
    color:black;
}

a:hover {
    color: #32c186;
}

.navbar {
    // min-height: 6% !important;
    // height: 25px;
    // max-height: 6% !important;
    //background-color: #32c186 !important;
    color: #fff !important;
}

.navbar a{
    color: rgb(220, 220, 220) !important;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar a:hover {
    // color: #32c186 !important;
    color: #ffffff !important;
}

.nav-link-active {
    background-color: #e80000 !important;
}
.navbar-tiny {
    min-height: 4% !important;
    height: 35px;
    background-color: #101010 !important;
}
.navbar-tiny img {
    height: 60px;
}

.green {
    color: #32c186;
}

.red {
    color: #c13232;
}

.blink-red {
    color: #fff;
	background-color: #e80000;
	animation: blink-red 1s infinite;
}

@keyframes blink-red{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
 }

.dropdown-menu a {
    color: #000000;
}

table {
    margin: 0 auto;
}

#device-selection {
    display: none;
}
#locations {
    padding-left: 4px;
    overflow-y: scroll !important;
    max-height: 65%;
}

#map {
    height: 100%;
    overflow-y: hidden !important;
  }

@media (min-width :768px) {
    .navbar {
        height: 25px;
    }
}